* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p{
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #343a40;
  color: #f8f9fa;
}

.logo {
  width: 50px;
}

.remaining-height {
  height: calc(100vh - 100px);
}

nav {
  background: linear-gradient( #373738d8 , #bcd7f3 );
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav img {
  width: 80px;
}
#contact-number{
  color:rgba(240, 236, 8, 0.774);
  text-shadow:1px 1px 2px black; 
}

.nav-link {
  font-weight: 500;
  font-size: 1.1rem;
  border-bottom: 3px solid transparent;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color: #dcf4f5 !important;
  border-bottom: 3px solid #0073e0;
}

/* .navbar-nav .nav-item.active a {
  color: #dcf4f5 !important;
} */

#moving-car {
  position: absolute;
  top: 25px;
  left: 10%;
  z-index: 1;
  
  animation: move 5s linear infinite;
}

@keyframes move {
  0%, 100% {
    transform: translateX(0);
  }
  49% {
    transform: translateX(8rem) rotateY(0deg);
  }
  50% {
    transform: translateX(8rem) rotateY(180deg);
  }
  99% {
    transform: translateX(0) rotateY(180deg);
  }
}

#floting-contacts{
  position: fixed;
  z-index: 2;
  /* left: calc(100vw - 75px); */
  right: 0;
  top:70vh;
  width: 100px;
}


.svg-container{
  position: relative;
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Optional: Set a max width */
    height: auto; /* This ensures the SVG scales proportionally */
  
}



.svg-container svg {
  /* Position the SVG absolutely within its container */
  width: 100%; /* Ensure the SVG fills its container */
  height: 100%; /* Ensure the SVG fills its container */
  top: 0; /* Align the SVG to the top of its container */
  right: 0; /* Align the SVG to the left of its container */
}
@media (max-width: 712px) {
  #floting-contacts{
    display: flex;
    /* gap:; */
    justify-content: space-between;
    /* gap: 3; */
    top:95vh;
    padding: 0;
    margin-right: 10px;
  }
  #floting-contacts div{
    margin-left: 5px;
  }
  .svg-container{
    width: 200%;
  }
}


header {
  padding-top: 100px;
}
section{
  padding-top: 100px;
}

header h1{
  text-shadow:1px 1px 2px rgba(218, 187, 11, 0.966);
}

header h2{
  text-shadow:1px 1px 2px rgba(255, 255, 255, 0.274);
}
.cta{
  background-color: #dd781e;
}
.cta:hover{
  background-color: rgba(160, 137, 10, 0.747);
}
#header-right {
  border: 15px solid ;
  border-color: #de781fa6;
  background-image: url("./images/black\ car\ Photo\ by\ a\ href=httpsunsplash.com@mohit445utm_content=creditCopyText&utm_medium=referral&utm_source=unsplashmohit\ suthara\ on\ a\ href=httpsunsplash.comphotosgray-car-HTGczLjKhsEutm_content=creditC.webp");
  background-size: cover;
  position: relative;
  border-radius:0 30%;
  
}

#header-right #light{
  position: absolute;
  border-style:  solid ;
  
  border-radius:10% 50%;
  top: 464px;
  left: 218px;
  width: 20px;
  height: 50px;
  background-color: #cefafc;
  transform: rotate(75deg);
  /* transition: background-color 2s; */
  animation: light-on 1s ease-out infinite forwards;
}

@keyframes light-on { 
  0%{
    background-color: #f09826;
  }
  50%{
    background-color: #241706;
  }
  100%{
    background-color: #f09826;
  }
  
}
.city-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-city {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.destination-cities {
  display: flex;
}

.destination-city {
  padding: 10px 20px;
  margin: 10px 10px;
  /* width: 100%; */
  background-color: #f0f0f0;
  border-radius: 5px;
}

.vehicle-models{
 /* width: inherit;  */
 border-radius: 15px;
 padding: 5px;
  
  background-color: #0073e0;
}
.vehicle-col{
  display: flex;
  flex-direction: column;
  /* justify-items:flex-end; */
}
.vehicle-col img {
  align-self: center;
}
.vehicle-col p {
  text-align: center;
}


@media (max-width: 425px) {
  #home {
    padding-top: 4rem;
  }
  #dl-nav {
    display: none;
  }
  #dl-head {
    display: inline-block;
  }
  header {
    background-position: center top;
    background-size: 33%;
  }
  #header-text {
    padding-bottom: 15px;
  }
  .card-deck {
    width: 100%;
    justify-content: center !important;
  }
  .carousel-item img {
    width: 75% !important;
  }
  #membership-image img {
    width: 100px;
  }
}
